<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="<%= assetPath('styles/layout.css') %>">
    <!-- Include all scripts below -->
    <%- style %>
</head>
<body>
    <!-- partials - header -->
    <%- include('_header'); -%>

    <main id="layout-main">
        <!-- variable part of page - body -->
        <%- body %>
    </main>
    
    <!-- partials - footer -->
    <%- include('_footer'); -%>

    <!-- Include all scripts below -->
    <%- script %>

    <!-- display flash messages if any -->
    <script>
        <% if (flash.success && flash.success.length > 0) { %> 
            new Noty({
                type: 'success',
                theme: 'relax',
                text: '<%= flash.success %>',
                timeout: 1500,
                layout: 'topRight'
            }).show();
        <% } %>

        <% if (flash.error && flash.error.length > 0) { %> 
            new Noty({
                type: 'error',
                theme: 'relax',
                text: '<%= flash.error %>',
                timeout: 1500,
                layout: 'topRight'
            }).show();
        <% } %>
    </script>
</body>
</html>